<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FrogBoard</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- JS Styles -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	        crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	        crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	        crossorigin="anonymous"></script>
</head>

<body>
<div class="container">
	<div class="row top mb-3">
		<h2>FrogBoard.com</h2>
	</div>
	<div class="row">
		<div class="col">
			<h4>All frogs:</h4>
			<ul>
				<% for (var x in frogs) { %>
					<li><%= x %>: <%= frogs[x].name %> | color: <%= frogs[x].color %> | stage: <%= frogs[x].stage %> | roundness: <%= frogs[x].roundness %> | <a href="/frogs/show/<%= frogs[x]._id %>">Show</a></li>
				<% } %>
			</ul>
			<form action="/frogs/new">
				<div class="row input-group mb-3">
					<div class="col-sm-4">
						<input type="submit" value="New Frog" class="btn btn-success">
					</div>
				</div>
			</form>
			
		</div>
	</div>
</div>

</body>
</html>