<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FrogBoard</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- JS Styles -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	        crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	        crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	        crossorigin="anonymous"></script>
</head>

<body>
<div class="container">
	<div class="row top mb-3">
		<h2>FrogBoard.com</h2>
	</div>
	<div class="row">
		<div class="col">
		<h4>Edit frog <%= frog.name %></h4>	
		<form action="/frogs/update/<%= frog._id %>" method="POST">
			<div class="row input-group mb-3">
				<div class="col-sm-4">
					<input name="name" value="<%= frog.name %>" type="text" class="form-control mb-3" placeholder="Name">
					<input name="color" value="<%= frog.color %>" type="text" class="form-control mb-3" placeholder="Color">
					<input name="stage" value="<%= frog.stage %>" type="text" class="form-control mb-3" placeholder="Stage">
					<input name="roundness" value="<%= frog.roundness %>" type="text" class="form-control mb-3" placeholder="Roundness">
					<input type="submit" value="Update" class="btn btn-success">
				</div>
			</div>
		</form>
		<form action="/frogs/remove/<%= frog.name %>" method="POST>
			<div class="row input-group mb-3">
				<div class="col-sm-4">
					<input type="submit" value="Delete" class="btn btn-danger">
				</div>
			</div>
		</form>
		</div>
	</div>
</div>

</body>
</html>